<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Books</title>
    <link rel="stylesheet" href="~/css/Design.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" integrity="sha384-dwKg46hMlF5o1nU9IoLZLO7ouP75vR3dtzX1rFtrh7LbJMqud6z9R9MbZQQF5d2a" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-ygbVcJHOG/cfQl16jb6pWUzOf5v0GK9BBOI8Iz3RiPFAxKm4U8BjQ2MO55r5IMZ7" crossorigin="anonymous"></script>

    

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand" asp-controller="Books" asp-action="Index">Books</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {

                           <li class="nav-item dropdown parentcont">
                                <a class="nav-link dropdown-toggle" id="btnDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-gear"></i> Management
                                </a>
                                <div id="hide-drop-down">
                                    <a class="dropdown-item" asp-controller="Stores" asp-action="Index"><i class="bi bi-camera-reels"></i> Stores</a>
                                    <a class="dropdown-item" asp-controller="Publishers" asp-action="Index"><i class="bi bi-headset"></i> Publishers</a>
                                    <a class="dropdown-item" asp-controller="Authors" asp-action="Index"><i class="bi bi-person-square"></i> Authors</a>
                                </div>
                           </li>
                        }

                    </ul>
                    </div>
                <form class="form-inline my-2 my-lg-0" asp-controller="Books" asp-action="Filter" style="padding-right: 25px;">
                    <div class="input-group">
                        <input name="searchString" type="text" class="form-control" placeholder="Search for a book..." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>

                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>

                    <partial name="_Identity.cshtml" />
                </div>
            
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Books
        </div>
    </footer>
    <style>
        #hide-drop-down {
            display:none;
            position:absolute;
            z-index:9999999;
            background:white;
           

        }

        .parentcont{
            position:relative
        }
    </style>
    <script>
        var getClickBtn = document.getElementById("btnDrop");
        var element = document.getElementById("hide-drop-down");

        getClickBtn.addEventListener("click",()=>{
        
            if(element.style.display == 'none'){
                
                element.style.display = "block";
                
            }else{
                
                element.style.display = "none";
            }
        
        })
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbVcJHOG/cfQl16jb6pWUzOf5v0GK9BBOI8Iz3RiPFAxKm4U8BjQ2MO55r5IMZ7" crossorigin="anonymous"></script>
     <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> 
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
