@using Books.Data.ViewModels;
@model LoginVM;

@{
    ViewData["Title"] = "Log in to your account";
}

<style>
    body {
        overflow: hidden;
    }

    #hero-img {
        width: 100%;
        height: auto;
    }

    .full-width-button {
        width: 100%;
    }

    .form-group {
        margin-bottom: 15px; 
    }

   
    input[type="text"],
    input[type="password"] {
        height: 60px;
        width: 100%;
    }

    .btn-outline-success.full-width-button {
        height: 60px;
        width: 100%;
    }
</style>

<div class="row shadow">
    <div class="col-md-6">
        <p>
            <h4 class="text-center">SIGN IN</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" placeholder="Enter your email address" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="Enter your password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success full-width-button" type="submit" value="SIGN IN" />
                    </div>
                    <div class="signup-link">
                        Don't have an account? <a asp-controller="Account" asp-action="Register">Sign Up</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/images/loginhero.png" alt="Image" class="w-100" id="hero-img" />
    </div>
</div>
